name: CI
on:
  push:
    branches: 
    -docs
jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup .NET
              uses: actions/setup-dotnet@v3
              with:
                dotnet-version: '8.0.x'
        
            - name: Build Debug and Release
              run: |
                dotnet build --configuration Debug
                dotnet build --configuration Release
        
    test-debug:
        runs-on: ubuntu-latest
        needs: build
    
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
      
            - name: Setup .NET
              uses: actions/setup-dotnet@v3
              with:
                dotnet-version: '8.0.x'
        
            - name: Test
              run: dotnet test --configuration Debug

    test-release:
        runs-on: ubuntu-latest
        needs: build

        steps:
            - name: Checkout code
              uses: actions/checkout@v4
        
            - name: Setup .NET
              uses: actions/setup-dotnet@v3
              with:
                dotnet-version: '8.0.x'
        
            - name: Test
              run: dotnet test --configuration Release
